<div class="about-wrapper">
	<h2 class="about-text">An ode to the video store; a film searching website; a web dev project. Made with Ruby, Sinatra, HTTParty and OMDB API.</h2>
	<img src="/images/store2.jpg" alt="">
	<a class="home" href="/"> <<< home</a>
</div>