<div class="container">
	<a class="about" href="/about">about >>></a>
	<img src="images/vhsbanner.jpg" alt="">
	<form action="/movie">
		<input name="movie" type="text" placeholder="Choose VHS title">
		<button>Find!</button>
	</form>
<!-- 	<img src="images/vhs.png" alt="VHS"> -->

</div>
