<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<link rel="stylesheet" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
</head>
<body>
	<p>Goodbye, Yahoo Finance.</p>
	<img src="gordon.jpeg" alt="Gordon Gekko">

	<footer>
		<a href="/">// Home //</a>
	</footer>
</body>
</html>