<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Stock Quotes (USA)</title>
	<link rel="stylesheet" href="styles.css">
	<link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
</head>
<body>
	<h1>Welcome to Stock Quotes!</h1>
	<form action="/stock">
		<input name="stock" type="text" placeholder="Which stock?">
		<button>Get quote!</button>
	</form>

	<footer>
		<a href="/about">~ About ~</a>
	</footer>
</body>
</html>