<div class="container">
	<img src="images/vhsbanner.jpg" alt="">
	<form action="/movie_list">
		<input name="movie_list" type="text" placeholder="Choose VHS title">
		<button>Find!</button>
	</form>
	<a class="about" href="/about">about >>></a>
</div>


