<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>VHS Video Finder!</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Pacifico|Quicksand" rel="stylesheet">
</head>
<body>

  <%= yield %>

	<footer>
		Made by Megan McKeough, with nostalgia.
	</footer>
</body>
</html>